In [10]:
import pandas as pd

In [11]:
waga = [50,70,80,90,100,110,120,130,140,150]
wzrost = [180,180,180,180,180,180,180,180,180,180]

dane = pd.DataFrame({"Waga":waga, "Wzrost":wzrost})


dane

   Waga  Wzrost
0    50     180
1    70     180
2    80     180
3    90     180
4   100     180
5   110     180
6   120     180
7   130     180
8   140     180
9   150     180

In [12]:
dane["BMI"] = dane["Waga"] / (dane["Wzrost"]*dane["Wzrost"])*10000
dane

   Waga  Wzrost        BMI
0    50     180  15.432099
1    70     180  21.604938
2    80     180  24.691358
3    90     180  27.777778
4   100     180  30.864198
5   110     180  33.950617
6   120     180  37.037037
7   130     180  40.123457
8   140     180  43.209877
9   150     180  46.296296

In [13]:
kod = []
for BMI in dane['BMI']:
    if BMI < 18.5:
        kod.append('Niedowaga')
    elif BMI < 25:
        kod.append('Waga prawidłowa')
    elif BMI < 40:
        kod.append('Nadwaga')
    else:
        kod.append('Otylosc skrajna')
dane["KOD"] = kod
dane

   Waga  Wzrost        BMI              KOD
0    50     180  15.432099        Niedowaga
1    70     180  21.604938  Waga prawidłowa
2    80     180  24.691358  Waga prawidłowa
3    90     180  27.777778          Nadwaga
4   100     180  30.864198          Nadwaga
5   110     180  33.950617          Nadwaga
6   120     180  37.037037          Nadwaga
7   130     180  40.123457  Otylosc skrajna
8   140     180  43.209877  Otylosc skrajna
9   150     180  46.296296  Otylosc skrajna