## Importowanie biblioteki

In [7]:
import pandas as pd

## Utworzenie ramki danych z danycmi waga i wzrost

In [8]:

# Tablice z danymi
waga = [50, 70, 68, 200]
wzrost = [170, 180, 165, 180]

# Utwórz ramkę danych
dane = pd.DataFrame({'Waga': waga, 'Wzrost': wzrost})

# Wyświetl ramkę danych
dane

   Waga  Wzrost
0    50     170
1    70     180
2    68     165
3   200     180

## Obliczanie WBC

In [9]:
# Dodaj kolumnę WBC
dane['WBC'] = dane['Wzrost'] - dane['Waga'] - 100
dane

   Waga  Wzrost  WBC
0    50     170   20
1    70     180   10
2    68     165   -3
3   200     180 -120

## Kodowanie WBC

In [10]:
# Tworzę tablicę kod
kod = []
for wbc in dane['WBC']:
    if wbc <= -10:
        kod.append('Nadwaga')
    elif wbc <= 10:
        kod.append('Waga prawidłowa')
    else:
        kod.append('Niedowaga')

# Funkcja append() w języku Python jest używana do dodawania nowych elementów do końca listy lub innej sekwencji (np. innego łańcucha, tupli, zbioru).

# Ale można tez inaczej:
#dane['Kod'] = ['Nadwaga' if wbc <= -10 else 'Waga prawidłowa' if -10 < wbc <= 10 else 'Niedowaga' for wbc in dane['WBC']]


# Dodaje tablice "kod" do ramki danych
dane['KOD']=kod

#wyświetlam
dane

   Waga  Wzrost  WBC              KOD
0    50     170   20        Niedowaga
1    70     180   10  Waga prawidłowa
2    68     165   -3  Waga prawidłowa
3   200     180 -120          Nadwaga

## Testowanie hipotez